.left-side{
    padding-left: 10%;
    padding-right: 10%;
}
.logo{
    width: 65px;
    padding-bottom: -10px;
}
.auth-box{
    width: 70%;
}
.inputs {
    border-color : #040308 ; 
    padding: 10px 15px ;
    border-width: 1px;
    border-radius: 6px;
}
.buttons input {
    width: 100% ; 
    border-radius: 100px;
    border-color: black;
    border-width: 1px;
    padding: 8px 15px;
} 
.buttons button {
    width: 100% ; 
    border-radius: 100px;
    border-color: black;
    border-width: 1px;
    padding: 8px 15px;
} 
.mrt {
    margin-top: 5px;
}
.google {
    position: absolute;
    width: 18px;
    left: 30% ;
    bottom: 30%; 
}
.check-box{
    margin-top: 2%;
}
hr {
    height: 2px;
    background-color: #000;
}